<html>
	<head>
		<title><%= @current_file %></title>
		<link rel = 'stylesheet' type= 'text/css' href='stylesheet.css'>
	</head>
	<body>
		<div id='content'>
			<a name='top'></a>
			<h1><%= @current_file %> Overview</h1>
			<% if @overview.size != 0 %>
				<p><%= @overview %></p>
			<% end %>
      
      <br />

			<% if @includes.size != 0 %>
			<h1>Defined Includes</h1>
				<ul>
					<% @includes.each do |i| %>
						<li><a href="<%= i['file'].first.gsub('.', '_') %>.html"><%= i['file'].first %></a></li>
					<% end %>
				</ul>
			<% end %>
			
			<% if @overview_includes.size != 0 %>
			<h1>Required Includes</h1>
				<ul>
					<% @overview_includes.each do |i| %>
						<li><a href="<%= i.gsub('.', '_') %>.html"><%= i %></a></li>
					<% end %>
				</ul>
			<% end %>
			
			<table class="nopad">
				<tr class='TableHeadingColor'>
					<td>
						<h1>Function Summary</h1>
					</td>
				</tr>
				
				<% argz = "" %>
				<% @functions.each do |function| %>
				<tr>
					<td>
						<% argz = function["args"] %>
										
						<% if function["anon_params"].size != 0 %>
							<% function["anon_params"].each do |k,v| %>
								<% if argz.length > 0 %>
									<% argz << ", " %>
								<% end %>
								<% argz << "<i>#{k}</i>" %>
							<% end %>
						<% else %>
							<% argz = function["args"] %>
						<% end %>
						
						<code><a href='#<%= function["name"] %>'><%= function["name"]%>(<%= argz %>)</a></code>
						<% summary = function['summary'].split("<br />") %>						

						<% if summary[0] != "" %>
							<% summary = summary[0] %>
						<% elsif summary[1] != "" %>
							<% summary = summary[1] %>
						<% end %>

						<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= summary %>
					</td>
				</tr>
				<% end %>
			</table>
			
			<h1>Function Details</h1>

			<% @functions.each do |function| %>
				<% argz = String.new %>
				<% argz = function["args"] %>
				<% if function["anon_params"].size != 0 %>
					<% function["anon_params"].each do |k,v| %>
						<% argz << ", <i>#{k}</i>" unless argz.include?(k) %>
					<% end %>
				<% else %>
					<% argz = function["args"] %>
				<% end %>
			
				<h2><a name='<%= function["name"] %>'><%= function["name"]%></a></h2>
				<pre><b><%= function["name"]%> (<%= argz %>)</b></pre>
				<p><%= function["summary"]%></p>
											
				<% if function["params"].size != 0 %>
					<h3>Named Parameters:</h3>
					<ul>
					<% function["params"].each do |k,v| %>
						<li><code><%= k %></code> - <%= v %></li>
					<% end %>
					</ul>
				<% end %>
							
				<% if function["anon_params"].size != 0 %>
					<h3>Anonymous Parameters:</h3>
					<ul>
					<% function["anon_params"].each do |k,v| %>
						<li><code><%= k %></code> - <%= v %></li>
					<% end %>
					</ul>
				<% end %>
				
				<% if function["deprecated"].size != 0 %>
					<h3>Deprecated:</h3>
					<ul>
					<% function["deprecated"].each do |k,v| %>
						<li><%= k %></li>
					<% end %>
					</ul>
				<% end %>
				
				<% if function["category"].size != 0 %>
					<h3>Function Category:</h3>
					<ul>
					<% function["category"].each do |k,v| %>
						<li><code><%= k %></code></li>
					<% end %>
					</ul>
				<% end %>
				
				<% if function["remark"].size != 0 %>
					<h3>Function Remarks:</h3>
					<ul>
					<% function["remark"].each do |k,v| %>
						<li><code><%= k %></code></li>
					<% end %>
					</ul>
				<% end %>
				
				<% if function["nessus"].size != 0 %>
					<h3>Nessus Version Required:</h3>
					<ul>
					<% function["nessus"].each do |k,v| %>
						<li><code><%= k %></code></li>
					<% end %>
					</ul>
				<% end %>
				
				<% if function["returns"].size != 0 %>
					<h3>Returns:</h3>
					<ul>
					<% function["returns"].each do |k,v| %>
						<li><%= v %></li>
					<% end %>
					</ul>
				<% end %>
				
				<a href='#top'>top</a>

				<hr>
			<% end %>
		</div>
	</body>
</html>
