<%
  def comment(name, type)
    filter1 = proc { |c| c.type == type }

    filter2 = case type
    when :export, :function
      Proc.new { |c| c.function == name }
    when :file
      Proc.new { |c| true }
    when :global
      Proc.new { |c| c.variables.include? name }
    end

    @comments.select(&filter1).select(&filter2).shift
  end
%>

<%
  def url(path)
    path.gsub('.', '_').sub(/_inc$/, '.html')
  end
%>

<html>
  <head>
    <title><%= @current_file %></title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>
  <body>
    <div id="content">
      <a name="top"></a>
      <h1>Overview of <%= @current_file %></h1>
      <% unless @overview.nil? %>
      <% unless @overview.summary.nil? %>
      <p class="summary"><%= @overview.summary %></p>
      <% end %>
      <% @overview.description.each do |paragraph| %>
      <p class="description"><%= paragraph %></p>
      <% end %>

      <% unless @overview.includes.empty? %>
      <h1>Required Includes</h1>
      <p>These files must be included by the importing code.</p>
      <ul>
        <% @overview.includes.each do |inc| %>
        <li><a href="<%= url(inc) %>"><%= inc %></a></li>
        <% end %>
      </ul>
      <% end %>
      <% end %>

      <% unless @includes.empty? %>
      <h1>Automatic Includes</h1>
      <p>These files are automatically included by the library.</p>
      <ul>
        <% @includes.each do |inc| %>
        <li><a href="<%= url(inc) %>"><%= inc %></a></li>
        <% end %>
      </ul>
      <% end %>

      <% {Public: @public, Private: @private}.each do |name, list| %>
      <% unless list.empty? %>
      <h1><%= name %> Function Summary</h1>
      <% if name == :Public %>
      <p>Public functions are intended to be called by the code that imports
      this library.</p>
      <% else %>
      <p>Private functions are not intended to be called by the code that
      imports this library. There is no functional difference between private
      and public functions, only convention, and may be called as normal. </p>
      <% end %>
      <table class="nopad">
        <tr class="TableHeadingColor">
          <th>Name</th>
          <th>Summary</th>
        </tr>
        <% list.keys.each do |name| %>
        <tr>
	  <td><%= name %></td>
	  <td><%= comment(name, :function).summary %></td>
        </tr>
        <% end %>
      </table>
      <% end %>
      <% end %>
    </div>
  </body>
</html>
